.address-bar {
    margin-top: 0.5rem;
    padding: 0.5rem;
    line-height: 1;
    font-size: 1.25rem;
    border-radius: 6px;
    background: #eee;
    border: solid 1px #666;

    color: #333;

    flex: 0 0 auto;
}