.controls {
  display: flex;
  justify-content: space-between;

  flex: 0 0 auto;
}

.controls .button {
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;

  margin-left: 0.25rem;
  font-size: 1.5rem;

  .button-icon {
    //padding: 0.25rem;
  }

  &:first-child {
    margin-left: 0;
  }

  .button-icon.sort-alpha.is-active {
    display: none;
  }
}


.navigation .button {
  border: 1px solid #666;
  background: white; //#eee;
  cursor: default;

  color: #999;

  &.is-active {
    background: white;
    color: #333;
    cursor: pointer;

    &:hover {
      border: 1px solid black;
      box-shadow: 0 0 3px #666;
    }
  }
}

.view .button, .sorting .button {
  border: 1px solid #666;
  background: white;
  cursor: pointer;

  color: #333;

  &:hover {
    border: 1px solid black;
    box-shadow: 0 0 3px #666;
  }
}

.sorting .button {
  margin-right: 0.5rem;

  .button-icon {
    margin: 0 !important;
  }
}


&.list-view .button#list-view {
  background: #ccc;
  color: #999;
  cursor: default;

  &:hover {
    border: 1px solid #666;
    box-shadow: none;
  }
}

&:not(.list-view) .button#tile-view {
  background: #ccc;
  color: #999;
  cursor: default;

  &:hover {
    border: 1px solid #666;
    box-shadow: none;
  }
}


.spacer {
  flex-grow: 1;
}
